# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
requirements.md

# Project Specific
data/*
!data/.gitkeep
output/*
!output/.gitkeep
temp/
*.log

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db
